/* Global Styling */

* {
    font: inherit;
}

/* Styling of Main Elements */

body {
    font-family: "Montserrat", sans-serif;
    background-color: beige;
}

.timer {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

/* Timer H1 and P Styling */

.header {
    font-size: 5rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
}

.paragraph {
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

/* Counter Styling */

    /* This determines the size of the SVG Circle */
.dial {
    height: 400px;
    width: 400px;
}

.test-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer input {
  background-color: transparent;
  border: none;
  font-size: 80px;
  text-align: center;
}

.timer-count {
    position: absolute;
}

.timer input:focus {
    outline: none;
}

/* Button Styling */

.buttons {
    margin-top: 4rem;
}


#start {
    font-size: 5rem;
    margin: 1rem;
    transition: .5s;
}

#start:hover {
    transform: scale(1.2)
}

#pause {
    font-size: 5rem;
    margin: 1rem;
    transition: .5s;
}

#pause:hover {
    transform: scale(1.2)
}

.reset {
    display: flex;
    justify-content: center;
    transition: 1s;
}

.reset:hover {
    transform: rotate(180deg)
}

#reset {
    font-size: 5rem;
}

.timer button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.timer button:focus {
    outline: none;
}